{% extends 'base.html' %}
{% block content %}
    {% for post in posts %}
        <div class="row">
      
            <div class="col-xs-12 blog-content">
                <h3>{{ post.title }}</h3>
                <div class="row">
                    <div class="col-xs-9">
                        <p>{{ post.content|truncatewords:10 }}</p>
                        <p><span class="boldtext">Опубликовано:</span> {{ post.published_date }} </p>
                        <p><span class="boldtext">Просмотры:</span> {{post.views}}</p>
                    </div>
                </div>
            <p><a href="{% url 'post_detail' post.id %}">Читать далее</a></p>
        </div>
        </div>
    {% endfor %}
    
     <div class="row">
            <div class="col-xs-12 post-link">
                <a href="{% url 'new_post' %}">Пишите пост здесь... <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            </div>
    </div>
{% endblock %}