{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-xs-12">
        <h3>{{ post.title }}</h3>
    </div>
</div>
<div class="row">
    <div class=" col-xs-12 col-sm-8 single-blog-content">
        <p>{{ post.content }}</p>
        <p><span class="boldtext">Опубликовано:</span> {{ post.published_date }} </p>
        <p><span class="boldtext">Просмотры:</span> {{post.views}}</p>
    </div>
</div>

<a href="{% url 'get_posts' %}">Back to Blog</a>
{% endblock %}