{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="col-md-12 col-xs-12">
        <div class="jumbotron">
              <p class="home-heading">Бестселлеры</p>
        </div>
    </div>
    
    <div class="row text-center">
        <div class="col-md-4 col-xs-12">
            <img src="/media/images/ring1.jpg" alt="ring1" width="300">
        </div>
        
        <div class="col-md-4 col-xs-12">
            <img src="/media/images/earing1.jpg" alt="earing" width="300">
        </div>
        
        <div class="col-md-4 col-xs-12">
            <img src="/media/images/ringwhite1.jpg" alt="ringwhite" width="300">
        </div>
    </div>    
    <br>
    
    <div class="col-md-12 col-xs-12">
        <p class="home-heading-2">Все украшения для наших клиентов</p>
        
    </div> 
    <br>
     <div class="col-md-12 col-xs-12">
        <div class="col-xs-12 col-md-6">
            <p class="home-heading-2"><i class="fa fa-truck" aria-hidden="true"></i> Доставка по Казахстану</p>
        </div>
        
        <div class="col-xs-12 col-md-6">
            <p class="home-heading-2"><i class="fa fa-compass" aria-hidden="true"></i> Отслеживание посылок</p>
        </div>
    </div>
    
    
    <div class="col-md-12 col-xs-12">
        <div class="jumbotron">
                <p class="home-heading">Lorem Ipsum</p>
              <p class="home-heading">Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
        </div>
    </div> 
</div>
<br>

{% endblock %}