{% extends 'base.html' %}

{% block page_title %}Password Reset Page{% endblock %}

{% block page_heading %}Reset Password{% endblock %}

{% block content %}
<form method="POST">
    <p>Введите почту</p>
    
    {% csrf_token %}
    
    {{ from.email.errors }}
    
    <p>
        <label for="id_email">Почта</label>
        {{ form.email }}
        
        <button>Восстановить пароль</button>
    </p>
</form>
{% endblock %}

