{% extends 'base.html' %}


{% block content %}
<div class="row single-product">
    <div class="col-xs-12 col-md-6">
        <div class="panel-body">
            <div class="single-image" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
        </div>
    </div>
    <div class='col-xs-12 col-md-6'>
        <p class='single-product-name'>{{ product.name }}</p>

        <p class='product-price'>{{ product.price }} тг.</p>
        
        <form method="post" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <div class="input-group">
                <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Количество">
                <span class="input-group-btn">
                    <button class="btn btn-button cart-button" type="submit">Добавить в корзинку</button>
                </span>
            </div>
        </form>
        <p class="detail-product-description">{{ product.description }}</p>
  
    </div>

</div>
{% endblock %}