{% extends 'base.html' %}

{% block content %}
<div class="row row-flex">
    {% for product in products %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

                <h3>{{ product.name }}</h3>
                <p class="product-description">{{ product.description }}</p>
                <p>{{ product.price }} тг.</p>

                <a href="{% url 'product-detail' product.id %}">Посмотреть</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}