{% extends 'base.html' %}

{% load bootstrap_tags %}



{% block content %}
<div class="block-content">

<form method="POST">
    {% csrf_token %}
    {{ login_form | as_bootstrap }}
    <button type="submit" class="btn btn-default">Войти</button>
</form>

<p class="alert"><a href="{% url 'password_reset' %}">Восстановить пароль</a></p>
</div>
{% endblock %}