{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block content %}

<p class="alert"> Если вы уже прошли регистрацию, вы можете <a href="{% url 'login' %}">войти</a></p>

<form method="POST">
    {% csrf_token %}
    {{ registration_form | as_bootstrap }}
    <button type="submit" class="btn btn-default reg-button">Отправить</button>
</form>

{% endblock %}