{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ювелир</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/journal/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" /> 
    </head>
    <body>
       <nav class="navbar navbar-dark bg-success">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a class="navbar-brand" href="/"><i class="fa fa-diamond"></i>ювелирный магазин</a>
            </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
             {% if user.is_authenticated %}
                <li class="active"><a href="{% url 'profile' %}"><i class="fa fa-user"></i>Аккаунт <span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Выйти</a></li>
                <li><a href="{% url 'get_posts' %}"><i class="fa fa-commenting-o"></i> Блог</a></li>
            {% else %}
                <li><a href="{% url 'registration' %}"><i class="fa fa-user-plus"></i> Регистрация</a></li>
                <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Войти</a></li>
            {% endif %}
                <li>
                    <a href="{% url 'view_cart' %}">
                        <i class="fa fa-shopping-cart"></i> Корзинка
                        {% if product_count > 0 %}
                        <label class="badge badge-warning">{{ product_count }}</label>
                        {% endif %}
                    </a>
                </li>
              </ul>
            <div class="search navbar-right">
            <form class="search-form" action="{% url 'search' %}" method="get">
                <input type="text" name="q"><button type="search">Поиск</button>
            </form>
        </div>
        </div>
        </div>
    </nav>
    
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class='nav navbar-nav'>
                    <li><a href="{% url 'product-filter' category='WhiteDiamondsRings' %}">Бриллиант кольцы</a></li>
                    <li><a href="{% url 'product-filter' category='ColouredDiamondsRings' %}">Золотые кольцы</a></li>
                    <li><a href="{% url 'product-filter' category='Bracelets' %}">Браслеты</a></li>
                    <li><a href="{% url 'product-filter' category='Earings' %}">Серьги</a></li>
                    <li><a href="{% url 'product-filter' category='Necklaces' %}">Ожерелия</a></li>
                    <li><a href="{% url 'products' %}">Все продукты</a></li>
                </ul>    
            </div>
    </nav>
        
    {% if messages %}
        <div class="messages">
    {% for message in messages %} {{ message }} {% endfor %}
        </div>
    {% endif %}
        
    <div class="container block-content">
        <div class='content-wrapper'>
            {% block content %} {% endblock %}
        </div>
    </div>
    <footer class="container-fluid">
        <div class="row row-footer">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="info-item">
                    <div class="key">
                        <p>Контакты:</p>
                    </div>
                    <div class="value">
                        <p><i class="fa fa-phone" aria-hidden="true"></i>  + 7(70) 000 00 00</p>
                    </div>
                </div>
                <div class="info-item">
                    <div class="key">
                        <p class="address2">Адресс:</p>
                    </div>
                    <div class="value">
                        <p>Алматы, Казахстан
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
            
                 <div class="info-item">
                    <div class="key">
                        <p>Ссылки:</p>
                    </div>
                    <div class="value">
                        <p><a href="{% url 'info' %}">О нас</a></p>
                        <p><a href="{% url 'info' %}">Доставка</a></p>
                        <p><a href="{% url 'info' %}">Возвраты</a></p>
                        <p><a href="{% url 'contact' %}">Контакты</a></p>
                    </div>
                </div>
                <div class="info-item">
                    <div class="key">
                        <p>Соцсети:</p>
                    </div>
                    <div class="value list-inline social-links">
                        <li><a target='_blank' href='#'><i class='fa fa-facebook'></i></a></li>
                        <li><a target='_blank' href='#'><i class='fa fa-twitter'></i></a></li>
                        <li><a target='_blank' href='#'><i class='fa fa-instagram'></i></a></li>
                    </div>
                </div>
            </div>    
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="button-to-top">
                <a href="#" class="btn btn-success">Вверх</a>
            </div>
        </div>
        </div>
        <div class="row row-footer">
            <div class="col-sm-12 col-md-12 col-lg-12">
                 <p class="copyright">Все права защиены &copy; 2020 </p>
            </div>
        </div>
    </footer>
            
            
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head_js %}
    {% endblock head_js %}
    
</body>
</html>
    
    